@page
@model Cringe.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Oh No";
}

<h1>Biggest Cringe</h1>

Online players: @string.Join(", ", Model.OnlinePlayers)

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Beatmap</th>
        <th>Username</th>
        <th>Mods</th>
        <th>Game Mode</th>
        <th>Date</th>
        <th>CRINGE POINTS</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Scores.Count; i++)
    {
        <tr>
            <td>
                @(i + 1)
            </td>
            <td>
                (@Html.DisplayFor(modelItem => Model.Scores[i].Rank)) <a asp-page="/Beatmaps/Index" asp-route-id="@Model.Scores[i].BeatmapId">@Model.Scores[i].BeatmapTitle</a> (@Html.DisplayFor(m => m.Scores[i].Accuracy))<br/><small>@(Model.Scores[i].MaxCombo)x (@Model.Scores[i].Count300 / @Model.Scores[i].Count100 / @Model.Scores[i].Count50 / @Model.Scores[i].CountMiss)</small>
            </td>
            <td>
                <a asp-page="/Players/Index" asp-route-id="@Model.Scores[i].PlayerId">@Model.Scores[i].PlayerUsername</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Scores[i].Mods)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Scores[i].GameMode)
            </td>
            <td>
                <time class="timeago" datetime="@Html.DisplayFor(modelItem => Model.Scores[i].PlayDateTime)">@Html.DisplayFor(modelItem => Model.Scores[i].PlayDateTime)</time>
            </td>
            <td>
                    <b>@Html.DisplayFor(modelItem => Model.Scores[i].Pp)</b>
            </td>
        </tr>
    }
    </tbody>
</table>