@page
@model Cringe.Web.Pages.Scores.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubmittedScore</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.BeatmapId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.BeatmapId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.PlayerUsername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.PlayerUsername)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.Count300)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.Count300)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.Count100)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.Count100)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.Count50)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.Count50)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.CountGeki)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.CountGeki)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.CountKatu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.CountKatu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.CountMiss)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.CountMiss)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.MaxCombo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.MaxCombo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.FullCombo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.FullCombo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.Rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.Rank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.Mods)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.Mods)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.Passed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.Passed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.GameMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.GameMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.PlayDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.PlayDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.OsuVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.OsuVersion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.Quit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.Quit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.Failed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.Failed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedScore.Pp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedScore.Pp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubmittedScore.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>