@page
@model Cringe.Pages.Beatmaps.IndexModel

@{
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Beatmap[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beatmap[0].Md5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beatmap[0].Ranked)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Beatmap)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Md5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ranked)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Index" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>