@page "{id?}"
@model Cringe.Web.Pages.Beatmaps.DetailsModel

@{
    ViewData["Title"] = $"{Model.Beatmap.Artist} - {Model.Beatmap.Title}";
}

<div>
    <img src="https://assets.ppy.sh/beatmaps/@Model.Beatmap.BeatmapSetId/covers/cover.jpg">
    <h4>
        <a href="http://osu.ppy.sh/beatmaps/@Model.Beatmap.Id">osu! beatmap link</a>
    </h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.BeatmapSetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.BeatmapSetId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.Md5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.Md5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.FullTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.Creator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.Creator)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.Bpm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.Bpm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.LengthSpan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.Mode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.Mode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.ApproachRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.ApproachRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.OverallDifficulty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.OverallDifficulty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.CircleSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.CircleSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beatmap.HpDrain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beatmap.HpDrain)
        </dd>
    </dl>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Beatmap.Id">Edit</a> |
        <a asp-page="./Listing">Back to List</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Score</th>
            <th>Username</th>
            <th>Accuracy</th>
            <th>Combo</th>
            <th>Mods</th>
            <th>Game Mode</th>
            <th>Date</th>
            <th>CRINGE POINTS</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Scores)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScoreV4)
                </td>
                <td>
                    <a asp-page="/Players/Index" asp-route-id="@item.PlayerId">@item.PlayerUsername</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accuracy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxCombo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Mods)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameMode)
                </td>
                <td>
                    <time class="timeago" datetime="@Html.DisplayFor(modelItem => item.PlayDateTime)">@Html.DisplayFor(modelItem => item.PlayDateTime)</time>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>