@page
@model Cringe.Pages.Scores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].BeatmapId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].PlayerUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].Count300)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].Count100)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].Count50)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].CountGeki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].CountKatu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].CountMiss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].MaxCombo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].FullCombo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].Mods)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].Passed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].GameMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].PlayDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].OsuVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].Quit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].Failed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedScore[0].Pp)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.SubmittedScore)
    {
        <tr>
            <td>
                <a asp-page="Beatmaps/Index" asp-route-id="@item.BeatmapId">@item.BeatmapId.ToString()</a>
            </td>
            <td>
                <a asp-page="Players/Index" asp-route-id="@item.PlayerId">@item.PlayerUsername</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count300)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count100)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count50)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountGeki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountKatu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountMiss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCombo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullCombo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mods)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OsuVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Failed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pp)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>